#about{
    width: 100%;
background-color: #fff;
 display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  /* margin: 2rem; */
}
.about-image img{
    width: 70%;
    margin-left: 11rem;
}
.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-text h2{
    font-size: 2.5em;
  font-weight: bold;
}
.about-text p{
    font-size: 1.25em;
    color: #6c757d;
    margin: 2rem 0rem;
    width: 70%;
}
.about-text button{
    width: 180px;
  height: 50px;
  background-color: white;
  border: 4px solid #7b99bb;
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  cursor: pointer;

}
.about-text button:hover{
    background-color: #fff;
    border: 4px solid #1d3058;
    color : #1d3058
}

@media (max-width: 768px) {
    #about {
        grid-template-columns: 1fr;
      }
    
      .about-image {
        width: 50%;
        display: flex;
        justify-content: center;
      }
}