.Teamsection{
    width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.TextStart{
    text-align: start;
}
.Col{
    width: 100%;
}
.Teams{
     display: flex;
   flex-direction: row;
   justify-content: center;   
}

@keyframes animate {
    from {
      left: -100%;
       /* // Start from off-screen on the left */
    }
    to {
      left: 0;  
      /* End at its final position */
    }
  }
.H1{
      font-weight: 900;
  margin-top: 2rem;
  font-size: 2.5em;
  position:relative;
  animation: animate 3s ease-in forwards;
}  
.H3{
    font-size: 2.5em;
    font-weight: bold;
    color: #6c757d;
    margin: 0.25em 0;
    position:relative;
    animation: animate 3s ease-in ; 
}

.Profilecard{
    
     display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.5rem 5rem;
    cursor: pointer; 
    perspective: 500px;
    
}
.content{
    
    transition: transform 1s;
    transform-style: preserve-3d;
}
.Imgcontanier ,
.flip-back{
   position: absolute;
    width: 14em;
    height: 20em;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2); 
    transition: transform 1s;
    backface-visibility: hidden;
}
.flip-back{
 
    transform: rotateY( 180deg );
    backface-visibility: hidden;
    align-items: center;
    justify-content: center;
  }
.Profilecard:hover .content{
    box-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #1b50e3, 0 0 5px #1b50e3,
    0 0 5px #1b50e3, 0 0 5px #1b50e3, 0 0 5px #1b50e3;
    transform: rotateY(180deg);
    transition: transform 1s;
}
.ProfileImg{
    margin-top: 1rem;
    width: 60%;
    border-radius: 50%;
}

.Name{
    font-weight: 600;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #1d3058;
}
.Position{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.Icons{
    width: 50%;
    min-width: 180px;
    margin: 1.1rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}

